<!DOCTYPE html>
<html lang="ja">
    <head th:replace="base::head(~{::title})">
        <title>Task - Death Milestone</title>
    </head>
<body>
    <header th:replace="base::header_menu(false,false,false)"></header>

    <main class="ui container">
        <div class="ui secondary menu">
                <a class="item" th:href="@{/milestones/{milestoneId}(milestoneId=${milestone.id})}">&#60;マイルストーンに戻る</a>
            <div class="right menu">
                <a class="item" th:href="@{/milestones/{milestoneId}/tasks/{taskId}/update(milestoneId=${milestone.id},taskId=${task.id})}"><i class="edit icon"></i></a>
                <form class="item"  th:action="@{/milestones/{milestoneId}/tasks/{taskId}/delete(milestoneId=${milestone.id},taskId=${task.id})}" method="post"><button class="ui item" type="submit"><i class="red trash icon"></i></button></form>
            </div>
        </div>

        <div class="ui segment">
            <h1 class="ui dividing header" th:text="${task.name}">Milestone</h1>
            <h3 th:text="${task.description}"></h3>
            <p>完了済：<input type="checkbox" id="check" th:checked="${task.isComplete}"  th:onChange="|toggleCheckbox('@{/milestones/{milestoneId}/tasks/{taskId}/update-isComplete(milestoneId=${milestone.id}, taskId=${task.id})}');|"/></p>
            
            <p th:text="|作成：${#temporals.format(task.createdAt,'yyyy/MM/dd HH:mm')}|"></p>
            <p th:text="|期限：${#temporals.format(task.deadline,'yyyy/MM/dd HH:mm')}|"></p>

            <!-- ここにユーザーが入る -->
            <div class="ui placeholder">
                <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="ui segment">
            <a style="color: black;" th:href="@{/milestones/{milestoneId}(milestoneId=${milestone.id})}">
                <h2 class="ui dividing header" th:text="|紐づくマイルストーン：${milestone.name}|">Milestone</h2>
                <h4 th:text="${milestone.description}"></h4>
                <progress max="100" th:value="${milestone.progress}"></progress>
                <span th:text="|${milestone.progress}%|"></span>

                <p th:text="|作成：${#temporals.format(milestone.createdAt,'yyyy/MM/dd HH:mm')}|"></p>
                <p th:text="|期限：${#temporals.format(milestone.deadline,'yyyy/MM/dd HH:mm')}|"></p>

                <!-- ここにユーザーが入る -->
                <div class="ui placeholder">
                    <div class="image header">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </a>
        </div>
    </main>
    <script>
        function toggleCheckbox(url) {
            const check = document.getElementById('check').checked;
            sendData({'isComplete':check},url);
        }

        function sendData(data,url) {
            const XHR = new XMLHttpRequest();

            const urlEncodedDataPairs = [];

            // data オブジェクトを、URL エンコードしたキーと値のペアの配列に変換します
            for (const [name, value] of Object.entries(data)) {
                urlEncodedDataPairs.push(`${encodeURIComponent(name)}=${encodeURIComponent(value)}`);
            }

            // キーと値のペアをひとつの文字列に連結して、ウェブブラウザーのフォーム送信方式に
            // 合うよう、エンコードされた空白をプラス記号に置き換えます。
            const urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');

            XHR.addEventListener('load', (event) => {
                window.location.reload();
            });

            // エラーが発生した場合に行うことを定義します
            XHR.addEventListener('error', (event) => {
              alert(event);
            });


            // リクエストをセットアップします
            XHR.open('POST', url);

            // フォームデータの POST リクエストを扱うために必要な HTTP ヘッダを追加します
            XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            // 最後に、データを送信します
            XHR.send(urlEncodedData);
            }
    </script>
</body>
</html>