<!DOCTYPE html>
<html lang="ja">

<head th:replace="base::head(~{::title})">
    <title>Update Form - Death Milestone</title>
</head>

<body>
    <header th:replace="base::header_menu(false,false,false)"></header>
    <main class="ui container">
        <a href="./list.html"
            th:href="@{/milestones/{milestoneId}(milestoneId=${taskUpdateForm.milestoneId})}">&#60;マイルストーンに戻る</a>
        <h1 class="ui dividing header">タスクの編集</h1>

        <form class="ui form"
            th:action="@{'/milestones/' + ${taskUpdateForm.milestoneId} + '/tasks/' + ${taskUpdateForm.id} + '/update'}"
            th:object="${taskUpdateForm}" method="post">
            <label>Name</label>
            <div class="ui fields">
                <div class="ui nine wide field"><input type="text" id="nameInput" name="name" th:field="*{name}" />
                </div>
                <div class="ui field">
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('name')}"
                        th:errors="*{name}">Error</div>
                </div>
            </div>

            <label>Description</label>
            <div class="ui fields">
                <div class="ui nine wide field"><textarea id="descriptionInput"
                        style="width: 100%; border:1px solid rgba(0,0,0,.3); padding: .67857143em 1em;"
                        name="descriptionInput" rows="10" th:field="*{description}"></textarea></div>
                <div class="ui field">
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('description')}"
                        th:errors="*{description}">Error</div>
                </div>
            </div>

            <label>Labels</label>
            <div class="ui fields">
                <div class="ui nine wide field">
                    <label th:for="${'label' + label.id}" th:each="label : ${allLabels}"
                        style="margin-bottom: 10px; display: flex; align-items: center;">
                        <div class="ui checkbox" style="margin-right: 5px;">
                            <input type="checkbox" tabindex="0" class="hidden" th:id="${'label' + label.id}"
                                th:name="labels" th:value="${label.id}"
                                th:checked="${#lists.contains(taskUpdateForm.labels, label.id)}"
                                th:attr="data-default-checked=${#lists.contains(taskUpdateForm.labels, label.id)} ? 'checked' : null" />

                            <label th:for="${'label' + label.id}"></label>
                        </div>
                        <div class="ui label" th:classappend="${label.color}" th:text="${label.name}"></div>
                    </label>
                </div>
                <div class="ui field">
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('labels')}"
                        th:errors="*{labels}">Error</div>
                </div>
            </div>

            <label>Deadline</label>
            <div class="ui fields">
                <div class="ui three wide field">
                    <input id="deadlineInput" type="datetime-local" name="deadlineString" th:field="*{deadlineString}"
                        th:value="${taskUpdateForm.deadlineString ?: ''}" />
                </div>

                <div class="ui field">
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('deadlineString')}"
                        th:errors="*{deadlineString}">Error</div>
                </div>
            </div>

            <div></div>
            <button class="ui primary button" type="submit">更新</button>
            <a class="ui button" th:href="@{/milestones/{id}/tasks/create(id=${milestoneId})}">破棄</a>

        </form>
    </main>
</body>

</html>