<!DOCTYPE html>
<html lang="ja">
<head th:replace="base::head(~{::title})">
    <title>creationForm - Death Milestone</title>
</head>
<body>
    <header th:replace="base::header_menu(false,false,false)"></header>
        <main class="ui container">
            <a href="./list.html" th:href="@{/milestones}">&#60;戻る</a>
            <h1 class="ui dividing header">新規マイルストーン</h1>
            
            <form class="ui segment" th:action="@{/milestones}" th:object="${milestoneForm}" method="post">
                <div class="ui fluid input">
                    <label>Name</label>
                    <input type="text" id="nameInput" name="name" th:field="*{name}" placeholder="Input name here..."/>
                    <div class="ui pointing red basic label" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
                </div>
            
                <div class="ui fluid input">
                    <label>Description</label>
                    <textarea id="descriptionInput" name="descriptionInput" rows="10" th:field="*{description}" placeholder="Input description here..."></textarea>
                    <div class="ui pointing red basic label" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</div>
                </div>

                <div>
                    <label for="deadlineInput">Deadline:</label>
                    <input id="deadlineInput" type="datetime-local" name="deadlineInput" th:field="*{deadline}" />
                    <p th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}"></p>
                </div>

                <button class="ui fluid large teal submit button" type="submit">作成</button>
            </form>
        </main>
</body>
</html>