<!DOCTYPE html>
<html lang="ja">

<head th:replace="base::head(~{::title})">
    <title>Task - Death Milestone</title>
</head>

<body>
    <header th:replace="base::header_menu(false,false,false)"></header>

    <main class="ui container">
        <div class="ui secondary menu">
            <a class="item" th:href="@{/milestones}">&#60;戻る</a>
            <div class="right menu">

                <a class="item" th:href="@{/milestones/{milestoneId}/update(milestoneId=${milestone.id})}"><i
                        class="edit icon"></i></a>
                <form class="item" th:action="@{/milestones/{milestoneId}/delete(milestoneId=${milestone.id})}"
                    method="post"><button class="ui item" type="submit"><i class="red trash icon"></i></button></form>

            </div>
        </div>


        <div class="ui segment">
            <h1 class="ui dividing header" th:text="${milestone.name}">Milestone</h1>
            <h3 th:text="${milestone.description}"></h3>
            <progress max="100" th:value="${milestone.progress}"></progress>
            <span th:text="|${milestone.progress}%|"></span>

            <p th:text="|作成：${#temporals.format(milestone.createdAt,'yyyy/MM/dd HH:mm')}|"></p>
            <p th:text="|期限：${#temporals.format(milestone.deadline,'yyyy/MM/dd HH:mm')}|"></p>

            <!-- ここにユーザーが入る -->
            <div class="ui placeholder">
                <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <h2 class="ui header" th:text="${user.name}">
                <img src="" class="ui circular image">
                Patrick
            </h2>
        </div>



        <table class="ui selectable celled table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>タスク</th>
                    <th>説明</th>
                    <th>ラベル</th>
                    <th>作成日</th>
                    <th>期限</th>
                    <th>編集/削除</th>
                    <th>完了済</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="taskWithLabels : ${taskWithLabelsList}">
                    <td><a th:href="@{/milestones/{milestoneId}/tasks/{id}(milestoneId=${milestone.id}, id=${taskWithLabels.task.id})}"
                            th:text="${taskWithLabels.task.id}"></a></td>
                    <td><a th:href="@{/milestones/{milestoneId}/tasks/{id}(milestoneId=${milestone.id}, id=${taskWithLabels.task.id})}"
                            th:text="${taskWithLabels.task.name}"></a></td>
                    <td><a th:href="@{/milestones/{milestoneId}/tasks/{id}(milestoneId=${milestone.id}, id=${taskWithLabels.task.id})}"
                            th:text="${taskWithLabels.task.description}"></a></td>
                    <td>
                        <span th:each="label : ${taskWithLabels.labels}">
                            <a class="ui label" th:classappend="${label.color}" th:text="${label.name}"></a>
                        </span>
                    </td>

                    <td><a th:href="@{/milestones/{milestoneId}/tasks/{id}(milestoneId=${milestone.id}, id=${taskWithLabels.task.id})}"
                            th:text="${#temporals.format(taskWithLabels.task.createdAt,'yyyy/MM/dd HH:mm')}"></a></td>
                    <td><a th:href="@{/milestones/{milestoneId}/tasks/{id}(milestoneId=${milestone.id}, id=${taskWithLabels.task.id})}"
                            th:text="${#temporals.format(taskWithLabels.task.deadline,'yyyy/MM/dd HH:mm')}"></a></td>
                    <td class="center aligned">
                        <div class="ui icon buttons" style="margin: auto;">
                            <a class="ui basic button"
                                th:href="@{/milestones/{milestoneId}/tasks/{taskId}/update(milestoneId=${milestone.id},taskId=${taskWithLabels.task.id})}"><i
                                    class="edit icon"></i></a>
                            <form class="ui icon buttons"
                                th:action="@{/milestones/{milestoneId}/tasks/{taskId}/delete(milestoneId=${milestone.id},taskId=${taskWithLabels.task.id})}"
                                method="post"><button class="ui basic button" type="submit"><i
                                        class="red trash icon"></i></button></form>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" th:id="|check${taskWithLabels.task.id}|" th:checked="${taskWithLabels.task.isComplete}"
                            th:onChange="|toggleCheckbox(${taskWithLabels.task.id},'@{/milestones/{milestoneId}/tasks/{taskId}/update-isComplete(milestoneId=${milestone.id}, taskId=${taskWithLabels.task.id})}');|" />
                    </td>
                </tr>
            </tbody>
        </table>

        <a class="ui green button"
            th:href="@{/milestones/{milestoneId}/tasks/create(milestoneId=${milestone.id})}">新規作成</a>

    </main>

    <script>
        function toggleCheckbox(taskId, url) {
            const check = document.getElementById('check' + taskId).checked;
            sendData({ 'isComplete': check }, url);
        }

        function sendData(data, url) {
            const XHR = new XMLHttpRequest();

            const urlEncodedDataPairs = [];

            // data オブジェクトを、URL エンコードしたキーと値のペアの配列に変換します
            for (const [name, value] of Object.entries(data)) {
                urlEncodedDataPairs.push(`${encodeURIComponent(name)}=${encodeURIComponent(value)}`);
            }

            // キーと値のペアをひとつの文字列に連結して、ウェブブラウザーのフォーム送信方式に
            // 合うよう、エンコードされた空白をプラス記号に置き換えます。
            const urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');

            XHR.addEventListener('load', (event) => {
                window.location.reload();
            });

            // エラーが発生した場合に行うことを定義します
            XHR.addEventListener('error', (event) => {
                alert(event);
            });

            // リクエストをセットアップします
            XHR.open('POST', url);

            // フォームデータの POST リクエストを扱うために必要な HTTP ヘッダを追加します
            XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            // 最後に、データを送信します
            XHR.send(urlEncodedData);
        }
    </script>
</body>

</html>