<!DOCTYPE html>
<html lang="ja">
    <head th:replace="base::head(~{::title})">
        <title>Milestones - Death Milestone</title>
    </head>
<body>
    <h1>マイルストーン</h1>
    <a href="./list.html" th:href="@{/milestones}">listへ戻る</a>

    <h2 th:text="${milestone.name}"></h2>
    <p th:text="${milestone.description}"></p>

    <h2>タスク一覧</h2>
    <ul>
        <li th:each="task : ${tasks}">
            <h3 th:text="${task.name}"></h3>
            <p th:text="${task.description}"></p>
            <p>Deadline: </p>
            <p th:text="${task.deadline}"></p>
        </li>
    </ul>

</body>
</html>