<!DOCTYPE html>
<html lang="ja">
    <head th:replace="base::head(~{::title})">
        <title>Task - Death Milestone</title>
    </head>
<body>
    <header th:replace="base::header_menu(false,false,false)"></header>

    <main class="ui container">
        <div class="ui secondary menu">
                <a class="item" th:href="@{/milestones}">&#60;戻る</a>
            <div class="right menu">
                <a class="item" th:href="@{/milestones/{milestoneId}/update(milestoneId=${milestone.id})}"><i class="edit icon"></i></a>
                <form class="item"  th:action="@{/milestones/{milestoneId}/delete(milestoneId=${milestone.id})}" method="post"><button class="ui item" type="submit"><i class="red trash icon"></i></button></form>
            </div>
        </div>

        
        <div class="ui segment">
            <h1 class="ui dividing header" th:text="${milestone.name}">Milestone</h1>
            <a class="ui label">tanosii</a>
            <h3 th:text="${milestone.description}"></h3>
            <progress max="100" th:value="${milestone.progress}"></progress>
            <span th:text="|${milestone.progress}%|"></span>
            
            <p th:text="|作成：${#temporals.format(milestone.createdAt,'yyyy/MM/dd HH:mm')}|"></p>
            <p th:text="|期限：${#temporals.format(milestone.deadline,'yyyy/MM/dd HH:mm')}|"></p>

            <!-- ここにユーザーが入る -->
            <div class="ui placeholder">
                <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        


        <form class="ui segment" action="" method="post">
            <table class="ui selectable celled table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>タスク</th>
                        <th>説明</th>
                        <th>ラベル</th>
                        <th>作成日</th>
                        <th>期限</th>
                        <th>完了済</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task : ${taskList}">
                        <td ><a th:href="@{/milestones/{milestoneId}/tasks/{id}(milestoneId=${milestone.id}, id=${task.id})}" th:text="${task.id}"></a></td>
                        <td ><a th:href="@{/milestones/{milestoneId}/tasks/{id}(milestoneId=${milestone.id}, id=${task.id})}" th:text="${task.name}"></a></td>
                        <td ><a th:href="@{/milestones/{milestoneId}/tasks/{id}(milestoneId=${milestone.id}, id=${task.id})}" th:text="${task.description}"></a></td>
                        <td></td>
                        <td ><a th:href="@{/milestones/{milestoneId}/tasks/{id}(milestoneId=${milestone.id}, id=${task.id})}" th:text="${#temporals.format(task.createdAt,'yyyy/MM/dd HH:mm')}"></a></td>
                        <td ><a th:href="@{/milestones/{milestoneId}/tasks/{id}(milestoneId=${milestone.id}, id=${task.id})}" th:text="${#temporals.format(task.deadline,'yyyy/MM/dd HH:mm')}"></a></td>
                        <td>
                            <a th:href="@{/milestones/{milestoneId}/tasks/{id}(milestoneId=${milestone.id}, id=${task.id})}"><input type="checkbox" name="" id="" th:checked="${task.isComplete}"></a>
                        </td>
                    </tr>            
                </tbody>
            </table>

            <button class="ui primary button" type="submit">保存</button>
            <a class="ui button" th:href="@{/milestones/{id}(id=${milestone.id})}">元に戻す</a>
            <a class="ui green button" th:href="@{/milestones/{milestoneId}/tasks/create(milestoneId=${milestone.id})}">新規作成</a>
        </form>

    </main>




</body>
</html>