<!DOCTYPE html>
<html lang="ja">
    <head th:replace="base::head(~{::title})">
        <title>Milestones - Death Milestone</title>
    </head>
<body class="ui inverted">
    <header th:replace="base::header_menu(true,false,false)"></header>
    <main class="ui container">
        <h1 class="ui dividing header">マイルストーン一覧</h1>

        <table class="ui selectable celled table" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>説明</th>
                    <th>作成日</th>
                    <th>期限</th>
                    <th>状況</th>
                    <th>編集/削除</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr th:each="milestone : ${milestoneList}">
                        <td><a style="display: block;" th:href="@{/milestones/{id}(id=${milestone.id})}" th:text="${milestone.id}"></a></td>
                        <td><a style="display: block;" th:href="@{/milestones/{id}(id=${milestone.id})}" th:text="${milestone.name}"></a></td>
                        <td><a style="display: block;" th:href="@{/milestones/{id}(id=${milestone.id})}" th:text="${milestone.description}"></a></td>
                        <td><a style="display: block;" th:href="@{/milestones/{id}(id=${milestone.id})}" th:text="${#temporals.format(milestone.createdAt,'yyyy/MM/dd HH:mm')}"></a></td>
                        <td><a style="display: block;" th:href="@{/milestones/{id}(id=${milestone.id})}" th:text="${#temporals.format(milestone.deadline,'yyyy/MM/dd HH:mm')}"></a></td>
                        <td class="center aligned">
                            <a style="display: block;" th:href="@{/milestones/{id}(id=${milestone.id})}">
                                <progress max="100" th:value="${milestone.progress}"></progress>
                            </a>
                        </td>
                        <td class="center aligned">
                            <div class="ui icon buttons" style="margin: auto;">
                                <a class="ui basic button" th:href="@{/milestones/{milestoneId}/update(milestoneId=${milestone.id})}"><i class="edit icon"></i></a>
                                <form class="ui icon buttons" th:action="@{/milestones/{milestoneId}/delete(milestoneId=${milestone.id})}" method="post"><button class="ui basic button" type="submit"><i class="red trash icon"></i></button></form>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
        <div class="ui container">
            <a class="ui green button" th:href="@{/milestones/create}">新規作成</a>
        </div>
    </main>

</body>
</html>