<!DOCTYPE html>
<html lang="ja">

<head th:replace="base::head(~{::title})">
    <title>Update Form - Death Milestone</title>
</head>

<body>
    <h1>マイルストーンの編集</h1>
    <a href="./list.html" th:href="@{/milestones}">一覧へ戻る</a>

    <!-- NOTE: actionを "/milestones/{milestoneId}/update" とし、 HTTP methodを "post" に設定 -->
    <form th:action="@{'/milestones/' + ${milestoneUpdateForm.id} + '/update'}" th:object="${milestoneUpdateForm}" method="post">
        <div>
            <label for="milestoneInput">名前:</label>
            <input type="text" id="milestoneInput" name="milestoneInput" th:field="*{name}" />
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>

        <div>
            <label for="descriptionInput">説明:</label>
            <textarea id="descriptionInput" name="descriptionInput" rows="10" th:field="*{description}"></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        </div>

        <div>
            <label for="deadlineInput">期限:</label>
            <input id="deadlineInput" type="datetime-local" name="deadlineInput" th:field="*{deadline}" />
            <p th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}"></p>
        </div>

        <button type="submit">更新</button>
    </form>

    <!-- NOTE: actionを "/milestones/{milestoneId}/delete" とし、 HTTP methodを "post" に設定 -->
    <form th:action="@{'/milestones/' + ${milestoneUpdateForm.id} + '/delete'}" method="post">
        <input type="hidden" th:field="${milestoneUpdateForm.id}" />
        <button type="submit">削除</button>
    </form>
    
</body>

</html>