<!DOCTYPE html>
<html lang="ja">

    <head th:replace="base::head(~{::title})">
        <title>Task - Death Milestone</title>
    </head>

<body>
    <header th:replace="base::header_menu(false,false,false)"></header>

    <main class="ui container">
        <div class="ui secondary menu">
            <a class="item" th:href="@{/milestones}">&#60;戻る</a>
            <div class="right menu">

                <a class="item" th:href="@{/milestones/{milestoneId}/update(milestoneId=${milestone.id})}"><i class="edit icon"></i></a>
                <form class="item"  th:action="@{/milestones/{milestoneId}/delete(milestoneId=${milestone.id})}" method="post"><button class="ui item" type="submit"><i class="red trash icon"></i></button></form>

            </div>
        </div>

        
        <div class="ui segment">
            <h1 class="ui dividing header" th:text="${milestone.name}">Milestone</h1>
            <h3 th:text="${milestone.description}"></h3>
            <progress max="100" th:value="${milestone.progress}"></progress>
            <span th:text="|${milestone.progress}%|"></span>
            
            <p th:text="|作成：${#temporals.format(milestone.createdAt,'yyyy/MM/dd HH:mm')}|"></p>
            <p th:text="|期限：${#temporals.format(milestone.deadline,'yyyy/MM/dd HH:mm')}|"></p>

            <!-- ここにユーザーが入る -->
            <div class="ui placeholder">
                <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="ui card">
            
        </div>
    </main>
</body>

</html>