<!DOCTYPE html>
<html lang="ja">

<head th:replace="base::head(~{::title})">
    <title>Task - Death Milestone</title>
</head>

<body>
    <header th:replace="base::header_menu(false,false,false)"></header>

    <main class="ui container">
        <div class="ui secondary menu">
            <a class="item" th:href="@{/milestones}">&#60;戻る</a>
            <div class="right menu">

                <a class="item" th:href="@{/users/update}"><i class="edit icon"></i></a>
                <form class="item" th:action="@{/users/delete}" method="post"><button class="ui item" type="submit"><i
                            class="red trash icon"></i></button></form>

            </div>
        </div>

        <div class="ui segment center aligned">
            <img class="ui circular image" th:src="${user.profileImg}" alt="">
            <h2 class="header" th:text="${user.name}">
                Matt Giampietro
            </h2>
            <div class="sub header" th:text="${user.email}"></div>
            <div class="description">
                <p th:text="${user.authorities}"></p>
                <div class="field">
                    <input type="password" name="" id="" th:value="${user.password}" disabled>
                </div>
                <p th:text="|registerdAt: ${#temporals.format(user.createdAt,'yyyy/MM/dd HH:mm')}|"></p>
                <p th:text="|updatedAt: ${#temporals.format(user.updatedAt,'yyyy/MM/dd HH:mm')}|"></p>
                <p th:text="|deletedAt: ${#temporals.format(user.deletedAt,'yyyy/MM/dd HH:mm')}|"
                    th:unless="${user.deletedAt == null}"></p>
            </div>
        </div>
    </main>
</body>

</html>