<!DOCTYPE html>
<html lang="ja">
    <head th:replace="base::head(~{::title})">
        <title>Users - Death Milestone</title>
    </head>
<body class="ui inverted">
    <header th:replace="base::header_menu(false,false,false)"></header>
    <main class="ui container">
        <h1 class="ui dividing header">ユーザー一覧</h1>

        <table class="ui selectable celled table" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>メールアドレス</th>
                    <th>ロール</th>
                    <th>作成日</th>
                    <th>編集/削除</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr th:each="user : ${usersList}">
                        <td><a style="display: block;" th:href="@{/user/{id}(id=${user.id})}" th:text="${user.id}"></a></td>
                        <td><a style="display: block;" th:href="@{/user/{id}(id=${user.id})}" th:text="${user.name}"></a></td>
                        <td><a style="display: block;" th:href="@{/user/{id}(id=${user.id})}" th:text="${user.email}"></a></td>
                        <td><a style="display: block;" th:href="@{/user/{id}(id=${user.id})}" th:text="${user.authorities}"></a></td>
                        <td><a style="display: block;" th:href="@{/user/{id}(id=${user.id})}" th:text="${#temporals.format(user.createdAt,'yyyy/MM/dd HH:mm')}"></a></td>
                        <td class="center aligned">
                            <div class="ui icon buttons" style="margin: auto;">
                                <a class="ui basic button" th:href="@{/user/{id}/update(id=${user.id})}"><i class="edit icon"></i></a>
                                <form class="ui icon buttons" th:action="@{/user/{id}/delete(id=${user.id})}" method="post"><button class="ui basic button" type="submit"><i class="red trash icon"></i></button></form>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
        <div class="ui container">
            <a class="ui green button" th:href="@{/milestones/create}">新規作成</a>
        </div>
    </main>

</body>
</html>