<!DOCTYPE html>
<html lang="ja">

<head th:replace="base::head(~{::title})">
    <title>Update Form - Death Milestone</title>
</head>

<body>
    <header th:replace="base::header_menu(false,false,false)"></header>
    <main class="ui container">
        <div class="ui secondary menu">
            <a class="item" th:href="@{/users}">&#60;一覧に戻る</a>
        </div>
        <h1 class="ui dividing header">登録情報の編集</h1>

        <form class="ui form" th:action="@{'/users/update'}" th:object="${userUpdateForm}" method="post" enctype="multipart/form-data">
            <label>名前</label>
            <div class="ui fields">
                <div class="ui nine wide field"><input type="text" id="namelInput" name="name" th:field="*{name}"></div>
                <div class="ui field">
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('name')}"
                        th:errors="*{name}">Error</div>
                </div>
            </div>
            <label>メールアドレス</label>
            <div class="ui fields">
                <div class="ui nine wide field"><input type="text" id="emailInput" name="email" th:field="*{email}" />
                </div>
                <div class="ui field">
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('email')}"
                        th:errors="*{email}">Error</div>
                </div>
            </div>

            <label>パスワード</label>
            <div class="ui fields">
                <div class="ui nine wide field"><input type="password" id="passwordInput" name="password"
                        th:field="*{password}"></div>
                <div class="ui field">
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('password')}"
                        th:errors="*{password}">Error</div>
                </div>
            </div>

            <label>プロフィール写真</label>
            <div>
                <div class="ui nine wide field"><input type="file" name="profileInput" id="profileInput"
                        th:field="*{profileImg}"></div>
                <div class="ui field">
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('profileImg')}"
                        th:errors="*{profileImg}">Error</div>
                </div>
            </div>

            <div>
                <button class="ui primary button" type="submit">更新</button>
                <button class="ui button" type="reset">変更を破棄</button>
            </div>


        </form>
    </main>

</body>

</html>