<!DOCTYPE html>
<html lang="ja">

<head th:replace="base::head(~{::title})">
    <title>Labels - Death Milestone</title>
</head>

<body>
    <div class="ui container" style="margin-top: 50px; padding-bottom: 50px;">
        <div class="ui negative message">
            <div class="header" style="font-size: 80px; padding: 30px; text-align: center;">
                400!
            </div>
            <p style="margin-top: 50px; text-align: center;">BadなRequestじゃ</p>
        </div>
    </div>
</body>

</html>